* {
    box-sizing: border-box;
    margin: 0;
    font-size: 1.2rem;
}

h2, h3, h4 {
    font-family: "dinosaur", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h1 { 
    font-family: "dinosaur", sans-serif;
    font-weight: 700;
    font-style: normal;
}

p {  
    font-family: "dinosaur", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

body {
    background-color: #F2E4E4;
    background-image: url("https://www.transparenttextures.com/patterns/wild-flowers.png");
}

header {
    background-color: #f2bbc9;
    background-image: url("https://www.transparenttextures.com/patterns/subtle-carbon.png");
}

li {
    font-family: "dinosaur", sans-serif;
    font-weight: 400;
    font-style: normal;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

nav ul a {
    color: #391BA6;
    text-decoration: none;
    transition: ease-in-out 350ms;
}

nav ul a:hover {
    color: #B8B6F2;
}

main {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.intro {
    width: 40%;
    margin: 2%;
}

.intro p {
    margin-top: 1%;  
    background-color: #F2ACCD; 
    padding: 2%;
    border-radius: 25px;
}

.programming-container {
    width: 100%;
    height: 510px;
    position: relative;
}

.programming-container img {
    margin-left: 0;
    margin-right: 0%;
}

.hobbies {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.hobbies img {
    width: 320px;   
}

.about-text {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.about-text h1 {
    font-size: 1.7rem;
}

.awards-and-achievements {
    max-width: 1290px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.awards-and-achievements img  {
    width: 320px;
}

.post-secondary-plan {
    max-width: 1280px;
    margin: 0 auto;
}

.post-secondary-plan p {
    margin: 1%;
    padding: 1%;
    background-color: #F2ACCD;
    border-radius: 25px;
}

.post-secondary-plan h3 {
    background-color: #F2ACCD;
    border-radius: 25px;
    text-align: center;
    margin: 1%;
}

#overlay {
    display: none;
    position: absolute;
    top: 5%;
    right: 10%;
    left: 5%;
    background: #999;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 100;
}

  #popup{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 800px;
    height: 800px;
   margin-left: -400px; 
    margin-top: -400px; 
    z-index: 200;
}
  #popupclose {
    float: right;
    padding: 10px;
}
  .popupcontent {
    padding: 10px;
}

.resume-container{
    background-color: whitesmoke;
    width: 95%;
    padding: 1%;
    border-radius: 2%;
    margin: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.resume-container p {
    color: #F2A0DC;
    margin: 1%;
}

.email {
    float: right;
}

.title {
    color: #BF7ABB;
}

.text h3 {
    text-align: center;

}

.description {
    background-color: #F2ACCD;
    padding: 1%;
}


#programmingmain img{
    width: 50%;
    border-radius: 50px;
}

#programmingmain p {
    background-color: #F2ACCD;
    padding: 1%;
    margin-top: 1%;
    border-radius: 25px;
}

#programmingmain h3 {
    margin: 1%;
}

.project-grid h4 {
text-align: center;
margin-bottom: 1%;
}

.project-grid  {
    width: 100%;
    display: flex;
   flex-wrap: wrap; 
}

.project-grid img {
    width: 90%;
    border-radius: 50px;
}

.project-one,
.project-two {
    width: 50%;
    margin-top: 1%;
}

.project-three,
.project-four {
    width: 50%;
}

#programmingmain h1 {
    margin-left: 80%;
    margin-top: 1%;
}

#writingmain p {
    background-color: #F2ACCD;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
    border-radius: 25px;
}

#writingmain img {
    width: 50%;
    border-radius: 50px;
}

#writingmain h1 {
    margin: 1%;
    background-color: #F2ACCD;
    border-radius: 25px;
    text-align: center;
    width: 100%;
}

#writingmain h4 {
    text-align: center;
    background-color: #F2ACCD;
    border-radius: 25px;
    margin-top: 1%;
}

#personalmain img {
    width: 70%;

}

.introp h1 {
    margin: 1%;
    text-align: center;
    font-size: 1.5rem;
    background-color: #F2ACCD;
    border-radius: 25px;
}

#backgroundp  {
    margin: 1%;
    background-color: #F2ACCD;
    padding: 1%;
    border-radius: 25px;
}

.personal,
.personal-text {
    width: 48%;
    margin: 1%;
}

.video,
.video-text {
    width: 48%;
    margin: 1%;
}

.personal-text,
.video-text {
    background-color: #F2BBC9;
    padding: 1%;
}

.personal-text h4,
.video-text h4 {
    text-align: center;
}

footer  {
    background-color: #F2BBC9;
    background-image: url("https://www.transparenttextures.com/patterns/subtle-carbon.png");
    margin-top: 1%;
    margin-bottom: 0%;
}