* {
    box-sizing: border-box;
    margin: 0;
    font-size: 1.2rem;
}

h2, h3, h4 {
    font-family: "dinosaur", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h1 { 
    font-family: "dinosaur", sans-serif;
    font-weight: 700;
    font-style: normal;
}

p {  
    font-family: "dinosaur", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

body {
    background-color: #F2E4E4;
    background-image: url("https://www.transparenttextures.com/patterns/wild-flowers.png");
}

header {
    background-color: #f2bbc9;
    background-image: url("https://www.transparenttextures.com/patterns/subtle-carbon.png");
    position: relative;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.header-content {
    max-width: 1280px;
    margin: 0 auto;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    text-decoration: none;
    font-size: 25px;
    margin-right: 20px;
}

.intro-sec {
    display: flex;
}

.intro h1 {
    font-size: 1.7rem;
    margin-bottom: 5%;
}

.intro,
.image {
    width: 48%;
    justify-content: space-evenly;
    margin: 1%;
}

.image img{
    width: 80%;
    border-radius: 300px;
    margin-top: 1%;
    margin-right: 2% ;
}

label {
    padding: 23px 20px;
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
}

input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    right: 0;
}

label span {
    width: 20px;
    height: 3px;
    display: block;
    position: relative;
    background-color: #391BA6;
}

label span ::after, label span ::before {
    display: block;
    position: absolute;
    content: "";
    background: inherit;
    width: inherit;
    height: inherit;
}

label span ::before {
    margin-top: 8px;
}

label span ::after {
    margin-bottom: 8px;
}

label::before {
    position: absolute;
    content: "";
    width: 58px;
    height: 49px;
    top: 0;
    right: 0;
}

input[type="checkbox"]:focus + label::before {
    box-shadow: 0 0 20px black;
}

ul li button {
    font-size: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
}

ul li a {
    display: block;
    color: inherit;
    text-decoration: none;
} 

ul li a, ul li button {
    padding: 0.7rem 1rem;
    text-align: left;
}

.menus {
    position: absolute;
    margin-top: .5%;
    left: 82%;
    visibility: hidden; 
    transform: translateY(-1em);
    transition: transform ease 0.2s; 
    background-color: #f2bbc9;
    background-image: url("https://www.transparenttextures.com/patterns/subtle-carbon.png");
}

input[type="checkbox"]:checked ~ nav > ul {
    visibility: visible;
    transform: translateY(0);
}

.dropdown {
    padding: 2px 1.5rem;
    height: 0;
    overflow: hidden;
    transition: height ease 0.2s;
}

li:focus-within .dropdown {
    height: 5%;
}

.arrow {
    width: 0.5em;
    height: 0.5em;
    display: inline-block;
    vertical-align: middle;
    border-left: 0.15em solid currentColor;
    border-bottom: 0.15em solid currentColor;
    transform: rotate(-45deg);
    margin-left: 0.38em;
    margin-top: -0.25em;
    transition: transform 100ms ease-in-out;
}

li:focus-within > button > .arrow {
    transform: rotate(-225deg);
    margin-top: 4px;
}

li {
    font-family: "dinosaur", sans-serif;
    font-weight: 400;
    font-style: normal;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

nav ul a {
    text-decoration: none;
}

nav ul a:hover {
    color: #B8B6F2;
}

main {
    max-width: 1280px;
    margin: 0 auto;
}

.intro {
    width: 40%;
    margin: 2%;
}

.intro p {
    margin-top: 1%;  
    background-color: #F2ACCD; 
    padding: 2%;
    border-radius: 25px;
}

.fp {
    background-color: #F2ACCD;
    max-width: 1280px;
    margin: 1%;
    text-align: center;
    border-radius: 25px;
}

.slide {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.fp1 {
    
    background-color: #F2CED5;
   
}

.fp1 h3 {
    text-align: center;
    padding: 1%;
}
.aboutmain {
    max-width: 1280px;
    margin: 0 auto;
}

.hobbies {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.hobbies img {
    width: 300px;   
}

.about-text {
    background-color: #F2ACCD;
    border-radius: 25px;
    margin: 1%;
    text-align: center;
}

.about-text h1 {
    font-size: 1.7rem;
}

.post-secondary-plan {
    max-width: 1280px;
    margin: 0 auto;
}

.post-secondary-plan p {
    margin: 1%;
    padding: 1%;
    background-color: #F2ACCD;
    border-radius: 25px;
}

.post-secondary-plan h3 {
    background-color: #F2ACCD;
    border-radius: 25px;
    text-align: center;
    margin: 1%;
}

button:active {
    transform: scale(0.9);
}

#btn {
    cursor: pointer;
}

.modal-btn  {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
}

.modal {
    width: 450px;
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.5 ease-in-out;
    border: 1px solid #B8B6F2;
    border-radius: 10px;
    z-index: 2;
    background-color: #B8B6F2;
}

.modal.active {
    top: 50%;
}

.header  {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid #B8B6F2;
    align-items: center;
    padding: 0.5rem 1rem;
}

.body {
    padding: 1rem;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#overlay.active {
  display: block;
}

#buttons-contaienr {
    display: flex;
    flex-wrap: wrap;
    margin: 0% auto;
    max-width: 1280px;
}

.resume-container{
    background-color: whitesmoke;
    width: 95%;
    padding: 1%;
    border-radius: 2%;
    margin: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.resume-container p {
    color: #F2A0DC;
    margin: 1%;
}

.email {
    float: right;
}

#download {
    background-color: #F1A7A6;
    border-color: lightgray;
    cursor: pointer;
}

.certificate,
.letter,
.resume {
    margin: 1%;
}

.course {
    color: #BF7ABB;
}

.text h3 {
    text-align: center;

}
#overviewmain h1 {
    font-size: 1.5rem;
    margin: 1%;
}

.description {
    background-color: #F2ACCD;
    padding: 1%;
    border-radius: 25px;
}


#programmingmain img{
    width:100%;
    border-radius: 50px;
}

#programmingmain p {
    background-color: #F2ACCD;
    padding: 1%;
    margin-top: 1%;
    border-radius: 25px;
}

#programmingmain h3 {
    margin: 1%;
}

#ph1 {
    font-size: 1.5rem;
}

#boxcontainer  {
    display: flex;
}

.programming-box-one,
.programming-box-two,
.programming-box-three,
.programming-box-four,
.programming-box-five,
.programming-box-six,
.programming-box-seven,
.programming-box-eight {
    width: 49%;
    margin: 1%;
}

.project-grid h4 {
    text-align: center;
    margin-bottom: 1%;
}

.project-grid  {
    width: 100%;
    display: flex;
   flex-wrap: wrap; 
}

.project-grid img {
    width: 90%;
    border-radius: 50px;
}

.project-one,
.project-two {
    width: 50%;
    margin-top: 1%;
}

.project-three,
.project-four {
    width: 50%;
}

#programmingmain h1 {
    margin-left: 80%;
    margin-top: 1%;
}

#writingmain p {
    background-color: #F2ACCD;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
    border-radius: 25px;
}

#writingmain img {
    width: 100%;
    border-radius: 50px;
}

.writing {
    display: flex;
}

.writing-box-one,
.writing-box-two,
.writing-box-four,
.writing-box-five {
    margin: 1%;
    width: 49%;
}

#writingmain h1 {
    margin: 1%;
    background-color: #F2ACCD;
    border-radius: 25px;
    text-align: center;
    width: 100%;
}

#writingmain h4 {
    text-align: center;
    background-color: #F2ACCD;
    border-radius: 25px;
    margin-top: 1%;
}

#personalmain img {
    width: 70%;
}

#personalmain {
    display: flex;
    flex-wrap: wrap;
    margin: 0% auto;
    max-width: 1280px;
}

.introp h1 {
    margin: 1%;
    text-align: center;
    font-size: 1.5rem;
    background-color: #F2ACCD;
    border-radius: 25px;
}

#backgroundp  {
    margin: 1%;
    background-color: #F2ACCD;
    padding: 1%;
    border-radius: 25px;
}

.personal,
.personal-text {
    width: 48%;
    margin: 1%;
}

.video,
.video-text {
    width: 48%;
    margin: 1%;
}

.personal-text,
.video-text {
    background-color: #F2BBC9;
    padding: 1%;
    border-radius: 25px
}

.personal-text h4,
.video-text h4 {
    text-align: center;
}
/* 
.image-slider {
    min-height: 30em;
    height: 100vh;
    position: relative;
    background-image: url(images/a-wish-from-the-earth-icon.jpg);
    background-repeat: no-repeat;   
    background-position: center;
    background-size: cover;
    transition: 0.3s;
}

.image-slider * {
    box-sizing: border-box;
}

.arrow-left,
.arrow-right {
    background-color: rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 40%;
    width: 2em;
    border-radius: 50%;
    height: 2em;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}

.arrow-left:hover,
.arrow-right:hover {
    color: #B8B6F2;
    background-color: #391BA6;
}

.arrow-left {
    left: 1em;
}

.arrow-right {
    right: 1em;
}

.image-fade {
    animation: imgFade 0.5s ease-in-out;
} */

/* @keyframes imgFade {
    0% {opacity: 0;}
    100% {opacity: 1;}
} */

.contact  {
    max-width: 1280px;
    background-color: #F2ACCD;
    width: 100%;
    height: 100%;
}

.contact a {
    padding: 1%;
    margin: 1%;
}

.mail h4 {
    margin: 1%;
}

.linkedin h4 {
    margin: 1%;
}

.github h4 {
    margin: 1%;
}

.contact h1 {
    margin: 1%;
}

footer  {
    background-color: #F2BBC9;
    background-image: url("https://www.transparenttextures.com/patterns/subtle-carbon.png");
    margin-top: 1%;
    margin-bottom: 0%;
}

footer nav {
    display: flex;
}

footer nav a  {
    width: 40%;
    margin-right: 0;
}

footer nav img{   
    width: 30%;
}

.footer-content {
    margin-top: 3%;
    text-align: center;
}

.intro h1 {
    animation-duration: 5s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        transform: translateX(0%);
      }
    
      to {
        transform: translateX(120%);
      }
}


.image2 img {
    width: 60%;
    border-radius: 300px;
    /* margin-top: 1%;
    margin-right: 2% ; */
    display: flex;
    justify-content: center;
    align-items: center;
   }

@media screen and (max-width: 640px) {
    .intro-sec img {
        width: 95%;
        margin-top: 55%;
    }

    .intro-sec h1 {
        text-align: center;
    }

    .intro p {
        padding: 2%;
       font-size: 1.1rem;
    }

    .menus {
        left: 50%;
    }

    .hobbies  img {
        width: 290px;
    }

    #programmingmain h1 {
        margin-left: 50%;
    }

    .personal {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .personal-text {
        width: 100%;
    }

    .video {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .video-text {
        width: 100%;
    }
    .image2 img{
        
        margin-left: 20%;
        margin-top: 1%;
    }
}

/* @media screen and (min-width: 641px){
    .image2 img{
        
        margin-left: 50%;
        margin-top: 1%;
    }
    .menus {
        left: 60%;
    }
} */